
body{
    background-color:azure;
}
img{
    display: block; 
    margin: 0 auto;
    opacity: 0.5;
    border-radius: 50%;
    width: 500px;
    height: 500px;
    object-fit: cover;   
}

h1{
    color:darkblue;
    background-color: ;
    font-family: Ariel, sans-serif;
    font-size: 32px;
}
h2{
    color:slategrey;
    font-family: Ariel, sans-serif;
    font-size: 24px;
}
p{
    font-size: 18px;
}
a:hover{
    font-weight: bold;
    color: darkred;
}